# Code alongs - python fundamentals 1

In [1]:
print("Hello")

Hello

In [2]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

I like to eat: apple

## Data types

In [ ]:
# tuple
# in jupyter notebook: the __repr__ of the object is outputted for the last line
name = "Viktor"
age = input("Give me your age: ")
age, type(age)

In [7]:
age = 33
loves_math = True
type(age), age, type(loves_math)

(int, 33, bool)

In [8]:
print(f"{type(loves_math) = }")

type(loves_math) = <class 'bool'>

## Collections types

## list

In [9]:
intrests = ["badminton", "yoga", "math", "programming"]

In [10]:

person = ["kokchun", 33, True]

person.append(intrests)

In [12]:
person.append(100)
person

['kokchun', 33, True, ['badminton', 'yoga', 'math', 'programming'], 100]

**Accessing items in a list**

In [14]:
person[0], person[1], person[-1], person [-2]

('kokchun', 33, 100, ['badminton', 'yoga', 'math', 'programming'])

In [16]:
person[-2][1]

'yoga'

**Slicing list**

In [17]:
person

['kokchun', 33, True, ['badminton', 'yoga', 'math', 'programming'], 100]

In [18]:
person[:2]

['kokchun', 33]

In [19]:
person [0::2]

['kokchun', True, 100]

In [21]:
intrests, intrests[::-1]

(['badminton', 'yoga', 'math', 'programming'],
 ['programming', 'math', 'yoga', 'badminton'])

In [ ]:
intrests[1:3]

In [ ]:
intrests[-1], intrests[::-1]

In [ ]:
person.append(intrests)
person

In [ ]:
person[-1][-2], person[-1][-2][::-1]

In [ ]:
persons_interests = person[-1]
persons_interests[-2]

## Iterate over lists

In [23]:
numbers = []
for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
for square in squares:
    print(square)

0
1
4
9
16
25
36
49
64
81

## Dictionary

In [ ]:
 # pythonic - idomatic python
for intrests in persons_interests:
    print(intrests)

    # java: 
    # for (int i = 0; i < persons_intrerests.length; i++){
    #   systems.out.println(persons_interests[i])
    # }

In [ ]:
for i in range(len(persons_interests)):
    print(i+1, persons_interests)

In [ ]:
for i, intrests in enumerate(persons_interests, 1):
    print(i, intrests)

## List creation

- append 
- list comprehension

In [ ]:
numbers = []

for i in range(10):
    numbers.append(i)

numbers

In [ ]:
numbers = [i for i in range(10)]
numbers

In [ ]:
squares = [i**2 for i in numbers]
squares

In [ ]:
[i**3 for i in numbers]

In [ ]:
# i % 2 (the condition) is truthy when i is odd, and falsey when i is even
odd_numbers_squared = [i**2 for i in numbers if i % 2]
odd_numbers_squared

## Dictionary

- key: value pairs

In [28]:
person_dict_syntax = dict(name = "Viktor", age = 33)
person_dict_syntax

{'name': 'Viktor', 'age': 33}

In [31]:
person_dict_bracket_syntax = {'name': 'Viktor', 'age': 33}
person_dict_bracket_syntax.keys(), person_dict_syntax.keys()

(dict_keys(['name', 'age']), dict_keys(['name', 'age']))

In [32]:
person_dict_syntax["name"], person_dict_syntax["age"]

('Viktor', 33)

In [33]:
hex(id(person_dict_bracket_syntax)), hex(id(person_dict_syntax))

('0x1f620086040', '0x1f62007dcc0')

In [34]:
for key in person_dict_syntax:
    print(key, person_dict_syntax[key])

name Viktor
age 33

In [35]:
for key, value in person_dict_syntax.items():
    print(key, value)

name Viktor
age 33

**Dictionary comprehension**

In [38]:
ml_terms = [
    "Supervised Learning",
    "Unsupervised Learning",
    "Feature Engineering",
    "Overfitting",
    "Cross-Validation"
]

ml_explanations = [
    "Learns from labeled data.",
    "Finds patterns in unlabeled data.",
    "Enhances input features for models.",
    "Model fits training data too closely.",
    "Evaluates model performance robustly."
]

{term: explanation for term, explanation in zip(ml_terms, ml_explanations)}

{'Supervised Learning': 'Learns from labeled data.',
 'Unsupervised Learning': 'Finds patterns in unlabeled data.',
 'Feature Engineering': 'Enhances input features for models.',
 'Overfitting': 'Model fits training data too closely.',
 'Cross-Validation': 'Evaluates model performance robustly.'}

## Strings

In [39]:
ml_term = "sUperVised    Learning   "
ml_term

'sUperVised    Learning   '

In [40]:
len(ml_term)

25

In [41]:
ml_term.strip()

'sUperVised    Learning'

In [43]:
ml_term.split()

['sUperVised', 'Learning']

In [44]:
"".join(ml_term.split())

'sUperVisedLearning'

In [45]:
"".join(ml_term.split()).lower()

'supervisedlearning'

In [46]:
ml_term_cleaned = " ".join(ml_term.split()).lower()
ml_term_cleaned

'supervised learning'

In [47]:
ml_term_cleaned[0], ml_term_cleaned[-1], ml_term_cleaned[4:7]

('s', 'g', 'rvi')

In [ ]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platform": 40,
    "data_modeling": 40,
    "visualization": 40,
}
courses

In [4]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modeling', 'visualization'])

In [5]:
len(courses.keys())

6

In [6]:
courses.values()

dict_values([40, 15, 30, 40, 40, 40])

In [12]:
for course in courses:
    print(course, courses[course])

python 40
agile 15
sql 30
data_platform 40
data_modeling 40
visualization 40

In [15]:
print(f"{'course':<40} Points")
for course, points in courses.items():
    print(f"{course:<20}, {points}")

course                                   Points
python              , 40
agile               , 15
sql                 , 30
data_platform       , 40
data_modeling       , 40
visualization       , 40

## Strings

In [16]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [22]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'