## Pandas series and dataframe

In [7]:
import pandas as pd

students_data = dict(business = 25, AI = 30, JS = 30, JAVA = 27)
students_data

{'business': 25, 'AI': 30, 'JS': 30, 'JAVA': 27}

In [11]:
series_program = pd.Series(students_data)
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [12]:
print(series_program)

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [13]:
series_program.iloc[0], series_program.iloc[-1]

(np.int64(25), np.int64(27))

In [14]:
series_program.keys()

Index(['business', 'AI', 'JS', 'JAVA'], dtype='object')

In [7]:
series_program["AI"]

np.int64(30)

In [8]:
print(series_program["AI"])

30

In [9]:
series_program["AI"] + 50

np.int64(80)

**another series using list**

In [6]:
import random as rnd
rnd.seed(42)

dice_list = [rnd.randint(1,6) for _ in range(5)]
dice_list

[6, 1, 1, 6, 3]

In [8]:
dice_series = pd.Series(dice_list)
dice_series

0    6
1    1
2    1
3    6
4    3
dtype: int64

In [9]:
dice_series.min(), dice_series.max(), dice_series.mean()

(np.int64(1), np.int64(6), np.float64(3.4))

## Dataframe

analog of 2D numpy array with flexible row indices and col names

In [15]:
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [17]:
pd.DataFrame(series_program, columns=("Num students",))

          Num students
business            25
AI                  30
JS                  30
JAVA                27

In [18]:
df_programs = pd.DataFrame(series_program, columns=("Num students",))
df_programs

          Num students
business            25
AI                  30
JS                  30
JAVA                27

In [ ]:
# Create 2 series objects using dictionary
students = pd.Series(dict(AI=25, NET=30, APP = 30, Java = 27))
language = pd.Series(dict(AI="Python", NET="C#", APP="Kotlin", Java="Java"))

AI      25
NET     30
APP     30
Java    27
dtype: int64

In [23]:
students

AI      25
NET     30
APP     30
Java    27
dtype: int64

In [24]:
language

AI      Python
NET         C#
APP     Kotlin
Java      Java
dtype: object

In [26]:
df_programs = pd.DataFrame({"students": students, "Language": language})
df_programs

      students Language
AI          25   Python
NET         30       C#
APP         30   Kotlin
Java        27     Java

In [36]:
import numpy as np

In [40]:
pd.DataFrame({"students": np.array((25,30,30,27)),
              "Language": ['Python', "C#", "Kotlin", "Java"],
              }, index = ["AI", ".NET", "APP", "Java"],
             )

      students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [41]:
df_programs.index

Index(['AI', 'NET', 'APP', 'Java'], dtype='object')

## Data selection

In [43]:
df_programs["students"]

AI      25
NET     30
APP     30
Java    27
Name: students, dtype: int64

In [45]:
df_programs[["Language", "students"]]

     Language  students
AI     Python        25
NET        C#        30
APP    Kotlin        30
Java     Java        27

In [48]:
df_programs.Language

AI      Python
NET         C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [53]:
df_programs["Language"]["NET"]

'C#'

## Indexers

In [54]:
df_programs.loc["Java"]

students      27
Language    Java
Name: Java, dtype: object

In [55]:
df_programs.loc["AI"]

students        25
Language    Python
Name: AI, dtype: object

In [58]:
df_programs.loc[["Java", "APP"]]

      students Language
Java        27     Java
APP         30   Kotlin

In [59]:
try:
    df_programs[["Java", "APP"]]
except KeyError as err:
    print(err)

"None of [Index(['Java', 'APP'], dtype='object')] are in the [columns]"

In [61]:
df_programs.loc ["AI": "APP"]

     students Language
AI         25   Python
NET        30       C#
APP        30   Kotlin

In [62]:
df_programs.iloc[1:3]

     students Language
NET        30       C#
APP        30   Kotlin

## Masking

In [63]:
df_programs["students"] > 25

AI      False
NET      True
APP      True
Java     True
Name: students, dtype: bool

In [64]:
df_programs[df_programs["students"] > 25]

      students Language
NET         30       C#
APP         30   Kotlin
Java        27     Java

In [65]:
df_programs.query("students > 25")

      students Language
NET         30       C#
APP         30   Kotlin
Java        27     Java